.App {
  min-height: 100vh;
  background-image: radial-gradient(
    circle 780.6px at 18% 20%,
    rgb(229, 157, 217) 0%,
    rgb(152, 161, 201) 90.7%
  );
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.search-button {
  background-color: rgb(184, 195, 214);
  padding: 14px 18px;
  border-radius: 5px;
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: 400;
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
