*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    width: 30%; 
    font-size: 20px;
    border-radius: 8px;
    
    /* border-style: none; */
}

.search-button {
    margin-left: 3px;
    width: 5px%;
    padding: 10px;
    letter-spacing: 2px;
    color: #ffff;
    background-color: rgb(85, 85, 214);
    /* border-style: none; */
    font-size: 20px;
    border-radius: 8px;
}

/* .search-button  */